.main-block {
  align-items: center;
  display: flex;
  padding: 20px 0;

  .main-block-left {
    flex-basis: 52%;
    margin-right: 6%;
  }

  .main-block-right {
    flex-basis: 42%;

    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }
}

.registration-page {
  text-align: center;
}

.cookies {
  background: $bg-cookies;
  color: $c-cookies;
  padding: 20px;
  text-decoration: underline;
}
