.credit-details-header {
  font-size: 49px;
}

.credit-details-block {
  background: $bg-credit-details-block;
  border-radius: 4px;
  box-shadow: 0 3px 3px $sh-credit-details-block;
  margin-bottom: 25px;
  overflow: hidden;
}

.credit-details-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 30px;

  .credit-details-plan {
    color: $c-credit-details-plan;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
  }

  .credit-details-amount {
    color: $c-credit-details-amount;
    font-size: 26px;
    font-weight: 600;
    margin: 0;
  }

  .credit-details-status {
    align-items: center;
    color: $c-credit-details-status;
    display: flex;
    font-size: 15px;
    gap: 5px;
  }
}

.credit-details-accordion {
  background: $bg-credit-details-accordion;
  color: $c-credit-details-accordion;
  padding: 30px 30px 20px;

  table {
    display: block;

    tbody {
      display: block;

      .credit-details-table-row {
        display: flex;

        td {
          width: 70%;
        }
      }
    }
  }
}

.credit-details-accordion-button {
  background: $bg-credit-details-accordion-button;
  border: none;
  color: $c-credit-details-accordion-button;
  cursor: pointer;
  display: block;
  margin: 15px auto auto;

  .credit-details-arrow {
    margin-left: 5px;

    &.revert {
      transform: rotate(180deg);
    }
  }
}

.credit-details-to-payment {
  background: $bg-credit-details-payment;
  border-radius: 4px;
  box-shadow: 0 1px 3px $sh-credit-details-payment;
  color: $c-credit-details-payment;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  justify-content: space-between;
  padding: 15px 25px;
  text-decoration: none;
}
