.image-container {
  height: 400px;
  width: 400px;

  .pre-image {
    height: inherit;
    width: auto;
  }

  .image-crop {
    min-height: 400px;
    min-width: 400px;
  }
}

.photo-btn-block {
  margin: 15px 0;
}

.image-input-file {
  display: none;
}
