.bread-crumbs {
  background: $bg-secondary;
  display: flex;
  gap: 3px;
  justify-content: space-between;
}

.crumb {
  border-bottom: 9px solid $border-tertiary;
  color: $c-tertiary;
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  justify-content: center;

  @media (max-width: $screen-xs-max) {
    .crumb-text {
      font-size: 14px;
    }
  }

  @media (max-width: $screen-xs) {
    .crumb-text {
      display: none;
    }
  }
}
