%button {
  color: $c-button;
  font-family: Quicksand, sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
  padding: 12px 0;
  transition: 0.2s;

  &:hover {
    opacity: 0.75;
  }
}

.green-button {
  @extend %button;

  background: $bg-primary;
}

.orange-button {
  @extend %button;

  background: $bg-button-orange;
  padding: 15px;
}

.payment-button {
  @extend %button;

  background: $bg-payment-button;
  display: block;
  text-align: center;
  text-decoration: none;
}
