.client-page {
  height: 100%;
  padding: 20px 25px;
  width: 100%;

  .wrapper-block {
    margin-bottom: 15px;
  }

  .info-block {
    display: flex;
  }
}

.collapse-open-btn {
  align-items: center;
  display: flex;

  .icon {
    fill: $c-icon;
    width: 10px;
    height: 8px;
    margin-bottom: 0.5rem;
    margin-left: 5px;
  }
}

.full,
.active {
  color: $c-status-active;
}

.uprid {
  color: $c-status-uprid;
}

.no-id {
  color:  $c-status-no-id;
}

.blocked,
.invalid {
  color:  $c-status-invalid;
}

.fragment {
  color: $c-fragment;
  padding: 0 10px;
  border-right: 1px solid $br-fragment;

  .fragment-first-elem {
    margin-right: 15px;
  }
}

.user-table {
  border-right: 1px solid $br-user-table;
  padding-right: 10px;
  margin-right: 10px;

  .first-column {
    color: $c-user-table-first-column;
  }

  .cell {
    overflow-wrap: break-word;
    padding: 5px 10px;
  }
}

.loader,
.error {
  margin: 100px auto;
}
