%form-input {
  background: $bg-form-input;
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 2px 2px $shadow-form-input;
  box-sizing: border-box;
  height: 40px;
  margin-bottom: 30px;
  margin-left: 10px;
  padding: 10px;
  width: 315px;
}

%form-label {
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.form-error {
  color: $c-error;
}
