.user-text-input-block {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.form-user-input {
  @extend %form-control;
  max-width: 300px;
}

.form-user-input.is-invalid, .was-validated .form-user-input:invalid {
  @extend %form-control-invalid;
}