// colors
$white: #fff;
$light-green: #9edc15;
$orange: #ff9d00;
$red: red;
$bg-main: #f8f8f8;
$c-cookies-text: $light-green;

// footer
$bg-footer: $light-green;
$bg-footer-line: $white;
$c-footer: $white;

// header
$bg-header: $white;
$c-header: $white;
$bg-header-button: $white;
$br-header-button: #aaa;

// info-block
$bg-info-block: $white;
$box-shadow-info-block: rgb(0 0 0 / 20%);

// form
$box-shadow-form-input: rgb(0 0 0 / 10%);
$bg-form-input: $white;
$c-error: $red;

// buttons
$bg-form-button-primary: $light-green;
$bg-form-button-secondary: $orange;
$c-form-button: $white;

// icons
$c-info-block-icon: #4c4c4c;
$c-footer-icon: $white;

// bread-crumbs
$bg-bread-crumbs: $white;
$br-bread-crumbs: #d8d8d8;
$c-bread-crumb: #4c4c4c;
