$white: #fff;
$gray: #737373;
$light-green: #9edc15;
$orange: #ff9d00;
$red: red;


$c-primary: $light-green;
$c-secondary: $white;
$c-tertiary: #4c4c4c;
$c-quaternary: $gray;


$bg-primary: $light-green;
$bg-secondary: $white;
$bg-tertiary: $orange;
$bg-main: #f8f8f8;

$shadow-primary: rgba(0, 0, 0, 0.1);
$shadow-secondary: rgba(0, 0, 0, 0.2);
$shadow-tertiary: rgba(0, 0, 0, 0.3);

$border-primary: $light-green;
$border-secondary: #aaa;
$border-tertiary: #d8d8d8;

// calculator-slider
$bg-slider: $bg-primary;
$border-slider: $border-primary;
$shadow-slider: $light-green;

// calculator
$c-calculator-primary: $c-tertiary;
$c-calculator-secondary: $c-primary;
$bg-calculator-caption: rgba(158, 220, 21, 0.4);
$shadow-calculator-block: $shadow-primary;


// payment
$border-payment-details: #D7D6D6;
$shadow-payment-card: rgba(0, 0, 0, 0.25);