.custom-nav-item {
  background: $bg-nav-item;
  color: $c-tertiary;
  cursor: pointer;
  display: block;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;

  .nav-item-icon {
    fill: $c-nav-item-icon;
  }
}

.custom-nav-item:hover,
.custom-nav-item.active {
  background: $bg-nav-item-hover;
  color: $c-nav-item-hover;

  .nav-item-icon {
    fill: $c-nav-item-icon-hover;
  }
}
