.footer {
  background: $bg-primary;
  color: $c-secondary;
  padding: 30px 0;
  position: relative;
  text-align: left;

  .contact-block {
    align-items: center;
    display: flex;
    margin: 10px 0;

    .contact-block__sign {
      color: inherit;
      font-weight: 600;
      text-decoration: none;
    }

    .icon {
      fill: $c-secondary;
      height: 20px;
      margin-right: 10px;
      width: 20px;
    }
  }
}

.top {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $screen-xs-max) {
    flex-wrap: wrap;
  }
}

.top > div {
  flex-basis: 31%;

  @media screen and (max-width: $screen-xs-max) {
    flex-basis: 100%;
  }
}

.arrow {
  margin-left: 5px;
}

.line {
  background: $bg-secondary;
  border: none;
  height: 1px;
}

.copyright-block {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;

  @media screen and (max-width: $screen-xs-max) {
    margin: 30px auto 40px;
  }
}

.message {
  bottom: 10px;
  position: absolute;
  right: 15px;
}
