.header {
  background-color: $bg-secondary;
  color: $c-secondary;
  font-size: calc(10px + 2vmin);
  height: 100px;

  .block {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: space-between;
  }
}

.header-button {
  background: $bg-secondary;
  border: 2px solid $border-secondary;
  border-radius: 4px;
  color: #afafaf;
  font-weight: 600;
  height: 40px;
  padding: 0 10px;
  width: auto;
}
