.header-mobile-menu {
  background: $bg-mobile-menu;
  bottom: 0;
  box-sizing: border-box;
  height: 100vh;
  left: 0;
  padding: 30px 20px;
  position: fixed;
  text-align: right;
  top: 0;
  transform: translateX(100%);
  transition: all 0.2s;
  width: 100vw;
  z-index: 100;

  &.active {
    transform: translateX(0);
  }
}

.header-mobile-links {
  border-bottom: 1px solid  $br-mobile-menu-links;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  text-align: left;

  .header-mobile-link {
    border-top: 1px solid  $br-mobile-menu-link;
    color: $c-mobile-menu-link;
    font-size: 17px;
    padding: 15px 5px;
    text-decoration: none;

    &.active {
      color: $c-mobile-menu-link-active;
    }
  }
}
