.radio-elem {
  align-items: center;
  display: flex;
  margin-left: 10px;

  .radio-elem-caption {
    margin-right: 2px;
  }
}

.radio-group {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
}
