.form,
.registration-form-name {
  text-align: left;
}

.form-button {
  background: $bg-form-button-primary;
  color: $c-form-button;
  font-family: Quicksand-Bold, sans-serif;
  margin-bottom: 15px;
  padding: 12px;
}

.form-submit-button {
  background: $bg-form-button-secondary;
  color: $c-form-button;
  font-family: Quicksand-Bold, sans-serif;
  margin-bottom: 15px;
  padding: 15px;
}
