.green-background {
  background: $bg-primary;
}

.login-page {
  background: url("/assets/images/Login-background.png") no-repeat bottom;
  background-size: contain;
  height: 450px;
  padding: 60px 0 130px;
}
