.credit-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $bg-secondary;
  border-radius: 4px;
  box-shadow: 0 2px 6px $shadow-secondary;
  padding: 15px 20px;
  margin-bottom: 20px;

  .credit-list-amount {
    color: $c-primary;
    font-size: 26px;
    font-weight: 600;
    margin: 0;
  }
  .credit-list-status {
    display: flex;
    align-items: center;
    gap: 5px;
    color: $c-tertiary;
    font-size: 17px;
  }
}
