$c-white: #fff;
$c-white-2: #F8F8F8;
$c-black: #000;
$c-gray: #737373;
$c-gray-2: #4c4c4c;
$c-gray-3: #9b9b9b;
$c-light-green: #9edc15;
$c-orange: #ff9d00;
$c-red: #dc3545;
$c-red-2: rgba(220,53,69,.25);
$c-yellow: #FFFF00FF;
$c-blue: #1890ff;
$c-blue-2: #40a9ff;
$c-blue-3: #86b7fe;
$c-blue-4: #212529;
$c-blue-5: rgba(13,110,253,.25);
$c-dark: rgba(0, 0, 0, 0.3);
$c-dark-2: rgba(0, 0, 0, 0.85);

$bg-app: $c-white-2;

$c-primary: $c-white;
$c-secondary: $c-gray-3;
$c-tertiary: $c-gray;

$bg-primary: $c-white;
$bg-secondary: $c-gray-2;
$bg-tertiary: $c-gray;

$br-tertiary: $c-gray;

$shadow-primary: $c-dark;
$shadow-tertiary: $c-gray;

//form common
$bg-form-input: $c-gray;
$shadow-form-input: $c-gray;
$c-error: $c-red;

// nav-panel
$bg-nav-item: $c-white;
$bg-nav-item-hover: $c-gray-2;
$c-nav-item-hover: $c-white;
$c-nav-item-icon: $c-gray-2;
$c-nav-item-icon-hover: $c-white;

// clients
$c-icon: $c-gray;
$c-icon-active: $c-red;
$br-button-reset: $c-gray;

// client-page
$c-fragment: $c-gray-3;
$br-fragment: $c-gray-3;
$c-user-table-first-column: $c-gray-3;
$br-user-table: $c-gray-3;

// client-page statuses
$c-status-active: $c-light-green;
$c-status-invalid: $c-red;
$c-status-uprid: $c-yellow;
$c-status-no-id: $c-tertiary;

// user
$c-form-control: $c-blue-4;
$bg-form-control: $c-white;
$br-form-control: $c-gray-3;
$c-form-control-focus: $c-blue-4;
$bg-form-control-focus: $c-white;
$br-form-control-focus: $c-blue-3;
$sh-form-control-focus: $c-blue-5;
$c-form-control-invalid: $c-red;
$sh-form-control-focus-invalid: $c-red-2;

// breadcrumb
$c-breadcrumb: $c-black;

// pagination
$c-pagination-primary: $c-blue;
$bg-pagination-item: $c-white;
$bg-pagination-item-active: $c-white;
$bg-pagination-item-link: $c-white;
$c-pagination-item-disabled-active: $c-white;
$bg-pagination-item-input: $c-white;

$c-secondary-pagination: $c-dark-2;
$c-pagination-active-hover: $c-blue-2;
$c-pagination-jump: $c-gray;
$br-pagination: $c-gray-3;

// pagination-select
$c-pagination-select: $c-blue-4;
$br-pagination-select: $c-gray-3;
$bg-pagination-select: $c-white;

$br-pagination-select-focus: $c-blue-3;
$shadow-pagination-select-focus: $c-blue-5;