// break-points
$screen-xs: 375px;
$screen-xs-min: $screen-xs;
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-xs-max: ($screen-sm-min - 1); // 767
$screen-sm-max: ($screen-md-min - 1); // 991
$screen-md-max: ($screen-lg-min - 1); // 1199

// pagination
$pagination-item-size: 32px;
$pagination-item-size-sm: 24px;
$pagination-font-family: arial;
$pagination-font-weight-active: 500;
